[user]
	email = vincentn337@gmail.com
	name = vincendiary
[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections

[merge]
	conflictStyle = zdiff3
