[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "agents/.agents"]
	path = agents/.agents
	url = git@github.com:vincendiary/agents.git
