/backups/
/cache/
/downloads/
/file-history/
/history.jsonl
/ide/
/image-cache/
/mcp-needs-auth-cache.json
/paste-cache/
/plans/
/plugins/
/policy-limits.json
/projects
/remote-settings.json
/session-env/
/sessions/
/settings.json.orig
/settings.local.json
/shell-snapshots/
/stats-cache.json
/tasks/
